<div class="container">
  <div class="row text-center">
    <div class="jumbotron">
      <div class="container">
        <h1><%= t "static_page.home.hello" %></h1>
        <p><%= t "static_page.home.project" %></p>
      </div>
    </div>
  </div>
</div>
