<div class="container margin-slide">
  <h2></h2>
  <table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
      <%= render @orders %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
