<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      <%= t "users.error_form" %><%= pluralize @user.errors.size, t("users.error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
