@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body{
  background-color: #f1f1f1;
  margin-top: 68px;
}

li, a:hover{
  list-style: none;
  text-decoration: none;
}
/*menu*/
.top{
  margin-top: -9px;
}
.yellow{
  background: #fe7700;
  height: 60px;
}
.logo li a{
  color: white!important;
}
.navbar-brand img{
  height: 57px;
  margin-top: -6px;
  width: 174px;
}
.small-icon{
  font-size: 28px;
}
.txt-small{
  font-size: 10px;
  font-weight: bold;
}
.search{
  margin-top: 10px;
  position: relative;
}
.btn-search{
  position: absolute;
  background: none;
  border: none;
  top: 22px;
    right: 17px;
}
.hangkhac{
    width: 260px;
    position: absolute;
    left: -64px;
    top: 68px;
    height: 246px;
    font-size: 17px;
    padding-left: 15px;
    background-color:  #fe7700bf;
}
.hangkhac .marginn{
  margin-left: -30px;
}
.hangkhac ul{
  padding-left: 14px;
  padding-top: 8px;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #d3d0d1cc;
}
.hangkhac ul li{
  margin-bottom: 13px;
}
.option_menucon {
  background-color: #fe7700bf;
}
.option_menucon li a{
  font-weight: bold;
}

/* banner */
.banner-img-fix img{
  width: 1140px
}

/* footer */
.backgroundblack{
  background: black;
  color:white;
  width: 100%;
  margin-top: 15px;
}

.backgroundblack a{
  color:white;
}

/*slide*/
.margin-slide{
  margin-top: 70px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.congnghe{
  background-color: #fff;
}

.congnghe legend{
  display: inline;
  padding: 6px 5px 6px 9px;
  border-color: #fea85c;
}
.congnghe legend span{
  padding-bottom: 10px;
    background-color: #fe7700;
    padding-top: 9px;
    margin-left: -9px;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.congnghe-content{
  margin-top: -27px;
  margin-bottom: -7px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: 387px;
  line-height: 1;
}

/*css slide 12 san pham*/
.border-none{
  border: none;
}

.top-img img{
  max-width: 110%;
}

.background{
  padding-top: 10px;
}

.background-white{
  background-color: white;
  margin-top: 13px;
}

/*Modal Box*/
.dklogin{
  display: none;
}
/*Dang Ky Dang Nhap*/
.modalbox{
  display:none;
  border-radius: 6px;
  padding-top: 0px;
  margin: 0px auto;
  height: 481px;
  width: 563px;
  background-color: #000000;
  background-position: center;
  position: fixed;
  z-index: 2;
  top: 102px;
  left: 400px;
  opacity: 0.9;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.modalbox a{
  font-weight: bold;
  padding: 18px;
  font-size: 27px;
  background: #7ed0dcb3;
  color: inherit;
  text-decoration: none;
}
.modalbox button{
  padding: 9px 18px 9px 18px;
  border-radius: 5px;
  border: none;
  font-size: 19px;
}
.signup{
  margin-top: 45px;
  display: none;
}

.signup td{
  padding-left: 20px;
}
.modalbox td{
  padding: 10px 4px 0px 0px;
  font-weight: bold;
}
.modalbox input{
  border-radius: 7px;
  padding: 9px;
  border: none;
  background-color: #7ed0dc;
}
.modalbox span{
  color: #09defded;
  border-radius: 7px;
  padding: 7px;
  font-size: 17px;
}
/*Div Dang Nhap*/
.loginn{
  margin-top: 50px;
}
.loginn td{
  padding-left: 28px;
}
.loginn i{
  font-size: 20px;
}
.x{
  color: red!important;
  padding: 3px 10px 4px 10px!important;
  font-size: 21px;
  position: absolute;
  right: 1px;
  top: 1px;
  background: #4dd2eb!important;
}

.dk{
  text-decoration: underline!important;
  background: none!important;
  font-size: 21px!important;
  padding: 4px!important;
  color: #227400!important;
}

.background-on{
  background: #29d4009c;
  color: white;
}
.background-off{
  background: #7ed0dcb3;
  color: white;
}

/* trang cua admin*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  width: 18%;
  height: 100%;
  color: #e1ffff;
  margin-top: -20px;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: block;
}
.nav-side-menu ul, .nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul li a {
  color: white;
  text-decoration: none;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

/*iphone*/
.background{
  background-color: #fff;
  margin-top: 15px;
}
.bordertoprightbottom{
  border-right: double #f1f1f1;
  border-top: double #f1f1f1;
  padding-top: 20px;

}
.background legend{
  padding: 5px;
  font-weight: bold;
  margin-bottom: -1px;
  font-size: 20px;
}

.margin-thumnail{
  margin-top: 5px!important;
}

.custom{
  width: 468px;
  height: 328px
}
.custom img{
  width: 468px;
  height: 225px;
}
.custom .thumbnail{
  height: 317px;
  border-radius: 0px;
  border-left:none;
}
.border-thumbnail{
  height: 313px;
}
.border-thumbnail .thumbnail{
  border-radius: 0px;
  border-right: none;
  padding-bottom: 18px;
}
.name-products{
  font-size: 14px;
}
.price{
  color: red;
}
.cart-fas{
  font-size: 19px;
}

/* bootstrap divided by 5*/

.fix{
  padding-left: 0px;
  padding-right: 0px;
}
.col-xs-5th-1, .col-xs-5th-2, .col-xs-5th-3, .col-xs-5th-4{
  float: left
}

.col-xs-5th-5{
  float: left;
  width: 100%;
}

.col-xs-5th-4{
  width: 80%;
}

.col-xs-5th-3{
  width: 60%;
}

.col-xs-5th-2{
  width: 40%
}

.col-xs-5th-1{
  width: 20%
}

.col-xs-5th-pull-5{
  right: 100%
}

.col-xs-5th-pull-4{
  right: 80%
}

.col-xs-5th-pull-3{
  right: 60%
}

.col-xs-5th-pull-2{
  right: 40%
}

.col-xs-5th-pull-1{
  right: 20%
}

.col-xs-5th-pull-0{
  right: auto
}

.col-xs-5th-push-5{
  left: 100%
}

.col-xs-5th-push-4{
  left: 80%
}

.col-xs-5th-push-3{
  left: 60%
}

.col-xs-5th-push-2{
  left: 40%
}

.col-xs-5th-push-1{
  left: 20%
}

.col-xs-5th-push-0{
  left: auto
}

.col-xs-5th-offset-5{
  margin-left: 100%
}

.col-xs-5th-offset-4{
  margin-left: 80%
}

.col-xs-5th-offset-3{
  margin-left: 60%
}

.col-xs-5th-offset-2{
  margin-left: 40%
}

.col-xs-5th-offset-1{
  margin-left: 20%
}

.col-xs-5th-offset-0{
  margin-left: 0%
}

@media (min-width: 768px){
  .col-sm-5th-1, .col-sm-5th-2, .col-sm-5th-3, .col-sm-5th-4{
    float: left
  }
  .col-sm-5th-5{
    float: left;
    width: 100%;
  }
  .col-sm-5th-4{
    width: 80%
  }
  .col-sm-5th-3{
    width: 60%
  }
  .col-sm-5th-2{
    width: 40%
  }
  .col-sm-5th-1{
    width: 20%
  }
  .col-sm-5th-pull-5{
    right: 100%
  }
  .col-sm-5th-pull-4{
    right: 80%
  }
  .col-sm-5th-pull-3{
    right: 60%
  }
  .col-sm-5th-pull-2{
    right: 40%
  }
  .col-sm-5th-pull-1{
    right: 20%
  }
  .col-sm-5th-pull-0{
    right: auto
  }
  .col-sm-5th-push-5{
    left: 100%
  }
  .col-sm-5th-push-4{
    left: 80%
  }
  .col-sm-5th-push-3{
    left: 60%
  }
  .col-sm-5th-push-2{
    left: 40%
  }
  .col-sm-5th-push-1{
    left: 20%
  }
  .col-sm-5th-push-0{
    left: auto
  }
  .col-sm-5th-offset-5{
    margin-left: 100%
  }
  .col-sm-5th-offset-4{
    margin-left: 80%
  }
  .col-sm-5th-offset-3{
    margin-left: 60%
  }
  .col-sm-5th-offset-2{
    margin-left: 40%
  }
  .col-sm-5th-offset-1{
    margin-left: 20%
  }
  .col-sm-5th-offset-0{
    margin-left: 0%
  }
}

@media (min-width: 992px){
  .col-md-5th-1, .col-md-5th-2, .col-md-5th-3, .col-md-5th-4{
    float: left;
  }
  .col-md-5th-5{
    float: left;
    width: 100%;
  }
  .col-md-5th-4{
    width: 80%;
  }
  .col-md-5th-3{
    width: 60%;
  }
  .col-md-5th-2{
    width: 40%;
  }
  .col-md-5th-1{
    width: 20%;
  }
  .col-md-5th-pull-5{
    right: 100%;
  }
  .col-md-5th-pull-4{
    right: 80%;
  }
  .col-md-5th-pull-3{
    right: 60%;
  }
  .col-md-5th-pull-2{
    right: 40%;
  }
  .col-md-5th-pull-1{
    right: 20%;
  }
  .col-md-5th-pull-0{
    right: auto;
  }
  .col-md-5th-push-5{
    left: 100%;
  }
  .col-md-5th-push-4{
    left: 80%;
  }
  .col-md-5th-push-3{
    left: 60%;
  }
  .col-md-5th-push-2{
    left: 40%;
  }
  .col-md-5th-push-1{
    left: 20%;
  }
  .col-md-5th-push-0{
    left: auto;
  }
  .col-md-5th-offset-5{
    margin-left: 100%;
  }
  .col-md-5th-offset-4{
    margin-left: 80%;
  }
  .col-md-5th-offset-3{
    margin-left: 60%;
  }
  .col-md-5th-offset-2{
    margin-left: 40%;
  }
  .col-md-5th-offset-1{
    margin-left: 20%;
  }
  .col-md-5th-offset-0{
    margin-left: 0%;
  }
}

@media (min-width: 1200px){
  .col-lg-5th-1, .col-lg-5th-2, .col-lg-5th-3, .col-lg-5th-4{
    float: left
  }
  .col-lg-5th-5{
    float: left;
    width: 100%;
  }
  .col-lg-5th-4{
    width: 80%
  }
  .col-lg-5th-3{
    width: 60%
  }
  .col-lg-5th-2{
    width: 40%
  }
  .col-lg-5th-1{
    width: 20%
  }
  .col-lg-5th-pull-5{
    right: 100%
  }
  .col-lg-5th-pull-4{
    right: 80%
  }
  .col-lg-5th-pull-3{
    right: 60%
  }
  .col-lg-5th-pull-2{
    right: 40%
  }
  .col-lg-5th-pull-1{
    right: 20%
  }
  .col-lg-5th-pull-0{
    right: auto
  }
  .col-lg-5th-push-5{
    left: 100%
  }
  .col-lg-5th-push-4{
    left: 80%
  }
  .col-lg-5th-push-3{
    left: 60%
  }
  .col-lg-5th-push-2{
    left: 40%
  }
  .col-lg-5th-push-1{
    left: 20%
  }
  .col-lg-5th-push-0{
    left: auto
  }
  .col-lg-5th-offset-5{
    margin-left: 100%
  }
  .col-lg-5th-offset-4{
    margin-left: 80%
  }
  .col-lg-5th-offset-3{
    margin-left: 60%
  }
  .col-lg-5th-offset-2{
    margin-left: 40%
  }
  .col-lg-5th-offset-1{
    margin-left: 20%
  }
  .col-lg-5th-offset-0{
    margin-left: 0%
  }
}

.fix-about{
  padding-bottom: 10px;
  padding-left: 0px;
}
