<div class="col-md-5th-1 col-sm-4 margin-thumnail border-thumbnail fix">
  <div class="thumbnail">
    <%= image_tag product.images[0].url, alt: product.name %>
    <div class="caption">
        <a class="name-products"><%= product.name %></a>
      <p class="price"><strong><%= product.price %>$</strong></p>
      <p>
        <%= link_to carts_path(product_id: product.id), method: :POST, class: "pull-right cart-fas" do %>
          <i class="fas fa-shopping-cart"></i>
        <% end %>
      </p>
    </div>
  </div>
</div>
